@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);



#social-buttons1-3 .mbr-section-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
}
#header2-4 H1 {
  font-family: 'Titillium Web', sans-serif;
}
#header2-4 P {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}
#footer1-5 P {
  color: #d9534f;
}
